$fontColor: #152C5B;
$Green: #28C76F;
$Blue: #3895f8;
$Yellow: #FFC107;
$darkBlue: #0357b1;
$colorText: #858A96;
$Light: #dfdddd;
$myFont: 'Merriweather',
serif;

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', Helvetica, serif;
}

.navbar{
    .navbar-brand img{
        width: 120px;
    }
}

.navbar-nav{
    .nav-link{
        color: #fff !important;
        letter-spacing: 0.7px;
        margin-left: 15px;
    }
    .active{
        color: $Yellow !important;
    }
    .btn-outline-success{
        border-radius: 30px;
        color: #fff;
        margin-left: 15px;
        background-color: $Green;
        border: none;
    }
}

section {
    position: relative;
    width: 100%;
    height: 480px;
    background: linear-gradient(270deg, $darkBlue, $Blue);
    overflow: hidden;
    
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: url('/img/wave.png');
        background-size: 1000px 100px;
    }
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4 {
    animation: animate4 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

.tittle-header{
    height: 280px;
    h1{
        font-size: 28px;
        text-align: center;
        color: #fff;
        font-weight: 600;
    }
    p{
        text-align: center;
        font-size: 16px;
        color: $Light;
    }
}
.container{
h2{
    color: $fontColor;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    word-spacing: 2px;
    span{
        color: $Blue;
    }
}
 .sub-title{
    color: $colorText;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
}

.card{
    height: 155px;
    width: 354px;
    margin-bottom: 30px;
    transition: .7s;
    cursor: pointer;
    .rounded-circle{
        width: 70px;
        overflow: hidden;
        margin-top: -5px;
    }
    h5{
        color: $fontColor;
        font-size: 18px;
        font-weight: 700;
        margin-left: 90px;
        margin-top: -65px;
    }
    p{
        color: $colorText;
        font-weight: 400;
    }
    .company{
        margin-left: 90px;
        margin-top: -2px;
        margin-bottom: -4px;
    }
    .lokasi{
        margin-left: 90px;
        margin-bottom: -4px;
    }
    .tanggal{
        font-size: 12px;
        margin-top: 35px;
        margin-left: 90px;
    }
}

.card:hover{
    box-shadow: 0px 2px 16px rgba(0,0, 0, 0.15);
}

footer{
    background-color: #1e1e1e;
    .deskripsi-singkat{
        margin-top: 15px;
        font-size: 15px;
        font-weight: 400;
        color: #626262;
    }
   span{
    font-size: 15px;
    font-weight: 400;
    color: #626262;
   }
   h5{
       font-size: 15px;
   }
   li{
       list-style-type: none;
   }
}

.copyrigt{
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.14px;
      color: #626262;
}